body {
    background-color: #fff;
    color: #333;
    margin: 0px ;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
}

/* header区块 */
/* header--logo区块 */

.logo {
    font-size: 3rem;             /* 从里到外 从内容到盒模型   */
    font-weight: bold;
    color: #fff;
    background-color: #000;
    text-align: center;
    max-width: 100%;
    padding: 20px 20px;
    margin: 0 auto;
}


.logo a{
    outline: none;
    text-decoration: none;
    font-style: bold;
    color: #fff;

}
.logo a:hover{
    background-color: black;
}

/* header区块 */
/* header区块--导航区块 */
.navigation{                       
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,154,1) 52%, rgba(252,176,69,1) 100%);
    padding: 20px;
}
.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigation a {
    color: #fff;
    text-decoration: none;           /* 去掉超链接文本样式 */
    padding: .5em 1em;
}

.navigation ul {                     /* 导航区设置flex布局 */
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
.navigation{                         /* 导航区设置sticky布局 */
  position: sticky;                  
  top: 0px;    
}
.navigation a:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}


/* 主体区块 */

.grid{
    margin-bottom: 100px;
}
.grid h1 {
    text-align: center;
    padding-top: 100px;
    margin-top: 0px;
}


.grid article {
    display: grid;
    grid-template-columns: 350px 350px 350px;    /* 列宽 */
    grid-template-rows: 600px 600px;              /* 行高 */
    column-gap: 20px;
    row-gap: 50px;
    justify-content:center;                       /* 对grid布局子内容进行水平居中 */
    align-content: center;                       /* 对grid布局子内容进行垂直居中 */
}
.blog_block {
    background-color:#E3EBED;
}

.blog img {
    max-width: 100%;
}

.grid p{
    font-weight: bold;
    font-style: bold;
    color: #000;
    text-align: center;
    padding: 2px;
    line-height: 1.5rem;
}

.image_txt {
    display: block;
    font-weight: normal;
    line-height: 1.5rem;
    padding: 20px 10px;
}

.grid a {
    outline: none;
    text-decoration: none;
    display: block;
    margin: 100px auto auto auto ;
    text-align: center;
    line-height: 3;
    font-style: bold;
    color: #fff;
    width: 200px;
    border-radius: 8px;
}

.grid a:link, a:visited {   
    background: rgb(15, 74, 83);
}




/* 页脚区块 */

footer div {
    height: 200px;
    background-color: #F5F5F5; 
    padding-top: 100px;

}

footer div p {
    margin: auto;
    text-align: center; 
    font-style: italic;
    font-weight: bold;
}

/* 窗口窄于1090px */
@media screen and (max-width: 1090px) { 
.grid article{
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: 600px 600px 600px;
    column-gap: 20px;
    row-gap: 50px;
}
/* 窗口窄于733px */
@media screen and (max-width: 733px) { 
    .grid article{
        display: grid;
        grid-template-columns: 350px ;
        grid-template-rows: 600px 600px 600px 600px 600px 600px;
        column-gap: 20px;
        row-gap: 50px;
    }
